<div class="card">
    <div class="card-header">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addShip">ajouter un client</button>
    </div>
    <div class="card-body">
        <table class="table table-bordered" table-sort>
            <thead>
                <tr>
                    <th scope="col">Nom </th>
                    <th scope="col">tel</th>
                    <th scope="col">email</th>
                    <th scope="col">location</th>
                </tr>
            </thead>
            <tbody>
                {{#each clients}}
                   <tr>
                    <td>{{name}}</td>
                    <td>{{contact}}</td>
                    <td>{{email}}</td>
                    <td>{{location}}</td>
                    <td>
                         <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editShip{{id}}">
                            <i class="align-middle" data-feather="edit"></i>
                        </button>
                        <a href="/client/delete/{{id}}" class="btn btn-sm btn-danger">
                            <i class="align-middle" data-feather="trash-2"></i>
                        </a>
                    </td>
                </tr>

                <div class="modal fade modal-sm" id="editShip{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editShip{{id}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Editer un client</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/client/edit/{{id}}" method="post">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nom</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    id="name"
                                    aria-describedby="helpId"
                                    placeholder="{{name}}"
                                    value="{{name}}"
                                />
                                <small id="helpId" class="form-text text-muted">Nom du client</small>
                            </div>
                                      <div class="mb-3">
                                <label for="name" class="form-label">Nom</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    id="name"
                                    aria-describedby="helpId"
                                    placeholder="{{name}}"
                                    value="{{name}}"
                                />
                                <small id="helpId" class="form-text text-muted">Nom du client</small>
                            </div>
                                      <div class="mb-3">
                                <label for="name" class="form-label">tel</label>
                                <input
                                    type="tel"
                                    class="form-control"
                                    name="contact"
                                    id="contact"
                                    aria-describedby="helpId"
                                    placeholder="{{contact}}"
                                    value="{{contact}}"
                                />
                                <small id="helpId" class="form-text text-muted">tel</small>
                            </div>
                             <div class="mb-3">
                                <label for="name" class="form-label">email</label>
                                <input
                                    type="email"
                                    class="form-control"
                                    name="email"
                                    id="email"
                                    aria-describedby="helpId"
                                    placeholder="{{email}}"
                                    value="{{email}}"
                                />
                                <small id="helpId" class="form-text text-muted">email</small>
                            </div>
                                <div class="mb-3">
                                <label for="name" class="form-label">location</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="location"
                                    id="location"
                                    aria-describedby="helpId"
                                    placeholder="{{location}}"
                                    value="{{location}}"
                                />
                                <small id="helpId" class="form-text text-muted">Nom du client</small>
                            </div>
                            
                            <button type="submit" class="btn btn-primary w-100">Modifier les informations du client</button>
                            
                        </form>
                    </div>
                    
                    </div>
                </div>
                </div>

                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade modal-sm" id="addShip" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addShip" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ajouter un client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/client/add" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Nom</label>
                <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    aria-describedby="helpId"
                    placeholder=""
                />
                <small id="helpId" class="form-text text-muted">Nom du client</small>
            </div>
                <div class="mb-3">
                <label for="name" class="form-label">tel</label>
                <input
                    type="tel"
                    class="form-control"
                    name="contact"
                    id="contact"
                    aria-describedby="helpId"
                    placeholder=""
                />
                <small id="helpId" class="form-text text-muted">contact</small>
            </div>
                <div class="mb-3">
                <label for="name" class="form-label">email</label>
                <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    aria-describedby="helpId"
                    placeholder=""
                />
                <small id="helpId" class="form-text text-muted">email</small>
            </div>
                <div class="mb-3">
                <label for="name" class="form-label">location</label>
                <input
                    type="text"
                    class="form-control"
                    name="location"
                    id="location"
                    aria-describedby="helpId"
                    placeholder=""
                />
                <small id="helpId" class="form-text text-muted">location</small>
            </div>
         
            <button type="submit" class="btn btn-primary w-100">ajouter</button>
            
        </form>
      </div>
       
    </div>
  </div>
</div>


