<div class="card">
    <div class="card-header">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addColie">Créer un colie</button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addColieType">Créer un type de colie</button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategorie">Créer une catégorie</button>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nom du colie</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Colie_type</th>
                    <th scope="col">Quantité</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each colis}}
                   <tr>
                    <td>{{name}}</td>
                    <td>{{categorie}}</td>
                    <td>{{colie_type}}</td>
                    <td>{{qantity}}</td>
                    
                    <td>
                         <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editColie{{id}}">
                            <i class="align-middle" data-feather="edit"></i>
                        </button>
                        <a href="/navir/delete/{{id}}" class="btn btn-sm btn-danger">
                            <i class="align-middle" data-feather="trash-2"></i>
                        </a>
                    </td>
                </tr>

                <div class="modal fade modal-sm" id="editColie{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editColie{{id}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Editer un navir</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/colie/edit/{{id}}" method="post">
                             <div class="mb-3">
                                <label for="name" class="form-label">Nom</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    id="name"
                                    aria-describedby="helpId"
                                    placeholder="{{name}}"
                                    value="{{name}}"
                                />
                                <small id="helpId" class="form-text text-muted">Nom du colie</small>
                            </div>
                            <div class="mb-3">
                                <label for="colie_type_id" class="form-label">Type de colie</label>
                                <select
                                    class="form-select"
                                    name="colie_type_id"
                                    id="colie_type_id"
                                    
                                >
                                    <option value="">Selectionner le type de colie</option>
                                    {{#each ../colie_types}}
                                    <option value="{{id}}" {{#selected id ../colie_type_id}}
                                        selected
                                    {{/selected}} >{{name}}</option>
                                    {{/each}}
                                    
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="navir_id" class="form-label">Navir</label>
                                <select
                                    class="form-select"
                                    name="navir_id"
                                    id="navir_id"
                                >
                                    <option value="">Selectionner un navir</option>
                                    {{#each ../navirs}}
                                    <option value="{{id}}" {{#selected id ../navir_id}}
                                        selected
                                    {{/selected}}>{{name}}</option>
                                    {{/each}}
                                    
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="weight" class="form-label">Quantité</label>
                                <input type="text" class="form-control" name="qantity" id="quantity" aria-describedby="helpId" placeholder="{{qantity}}" value="{{qantity}}" />
                                <small id="helpId" class="form-text text-muted"></small>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Modifier les informations du navir</button>
                            
                        </form>
                    </div>
                    
                    </div>
                </div>
                </div>

                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade modal-sm" id="addColie" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addColie" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ajouter un colie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/colie/add" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Nom</label>
                <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    aria-describedby="helpId"
                    placeholder=""
                />
                <small id="helpId" class="form-text text-muted">Nom du colie</small>
            </div>
            <div class="mb-3">
                <label for="colie_type_id" class="form-label">Type de colis</label>
                <select
                    class="form-select"
                    name="colie_type_id"
                    id="colie_type_id"
                >
                    <option value="">Selectionner</option>
                    {{#each colie_types}}
                       <option value="{{id}}">{{name}}</option>
                    {{/each}}
                    
                </select>
            </div>
            <div class="mb-3">
                <label for="navir_id" class="form-label">Navir</label>
                <select
                    class="form-select"
                    name="navir_id"
                    id="navir_id"
                >
                    <option value="">Selectionner un navir</option>
                    {{#each navirs}}
                       <option value="{{id}}">{{name}}</option>
                    {{/each}}
                    
                </select>
            </div>
            
            <div class="mb-3">
                <label for="weight" class="form-label">Quantité</label>
                <input type="text" class="form-control" name="qantity" id="quantity" aria-describedby="helpId" placeholder="" />
                <small id="helpId" class="form-text text-muted"></small>
            </div>
            <button type="submit" class="btn btn-primary w-100">Créer un colie</button>
            
        </form>
      </div>
       
    </div>
  </div>
</div>


<div class="modal fade" id="addCategorie" data-bs-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addCategorie" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCategorieLabel">Ajouter une catégorie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form action="/categorie/add" method="post">
        <div class="mb-3">
            <label for="" class="form-label">Nom</label>
            <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                aria-describedby="helpId"
                placeholder=""
            />
            <small id="helpId" class="form-text text-muted">Nom de la catégorie</small>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter une catégorie</button>
        </form>
      </div>
       
    </div>
  </div>
</div>

<div class="modal fade" id="addColieType" data-bs-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addColeTypeLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addColeTypeLabel">Ajouter un type de colie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          

        </button>
      </div>
      <div class="modal-body">
       <form action="/colie-type/add" method="post">
        <div class="mb-3">
            <label for="" class="form-label">Nom</label>
            <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                aria-describedby="helpId"
                placeholder=""
            />
            <small id="helpId" class="form-text text-muted"></small>
        </div>
       
        
        <div class="form-check form-switch">
            <input
                class="form-check-input"
                type="checkbox"
                id="is_fragile"
                name="fragile"
            />
            <label class="form-check-label" for="is_fragile">C'est fragile?</label>
        </div>
         <div class="mb-3">
            <label for="categorie_id" class="form-label">Categorie</label>
            <select
                class="form-select"
                name="category_id"
                id="category_id"
                
            >
                <option value="">Selectionner une catégorie</option>
                {{#each categories}}
                <option value="{{id}}" {{#selected id ../category_id}}
                    selected
                {{/selected}} >{{name}}</option>
                {{/each}}
                
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
      </div>
       
    </div>
  </div>
</div>
