<div class="card">
    <div class="card-header">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addShip">ajouter une categorie</button>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nom </th>
                    <th scope="col">tel</th>
                    <th scope="col">email</th>
                    <th scope="col">location</th>
                </tr>
            </thead>
            <tbody>
                {{#each categorie}}
                   <tr>
                    <td>{{name}}</td>
                  
                    <td>
                         <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editShip{{id}}">
                            <i class="align-middle" data-feather="edit"></i>
                        </button>
                        <a href="/categorie/delete/{{id}}" class="btn btn-sm btn-danger">
                            <i class="align-middle" data-feather="trash-2"></i>
                        </a>
                    </td>
                </tr>

                <div class="modal fade modal-sm" id="editShip{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editShip{{id}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Editer un navir</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/navir/edit/{{id}}" method="post">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nom</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    id="name"
                                    aria-describedby="helpId"
                                    placeholder="{{name}}"
                                    value="{{name}}"
                                />
                                <small id="helpId" class="form-text text-muted">Nom du navir</small>
                            </div>
                            <div class="mb-3">
                                <label for="weight" class="form-label">Capacité</label>
                                <input type="text" class="form-control" name="weight" id="weight" aria-describedby="helpId" placeholder="{{weight}}" value="{{weight}}" />
                                <small id="helpId" class="form-text text-muted">Poids  du navir</small>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Modifier les informations du navir</button>
                            
                        </form>
                    </div>
                    
                    </div>
                </div>
                </div>

                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade modal-sm" id="addShip" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addShip" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ajouter un navir</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/navir/add" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Nom</label>
                <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    aria-describedby="helpId"
                    placeholder=""
                />
                <small id="helpId" class="form-text text-muted">Nom du navir</small>
            </div>
            <div class="mb-3">
                <label for="weight" class="form-label">Capacité</label>
                <input type="text" class="form-control" name="weight" id="weight" aria-describedby="helpId" placeholder="" />
                <small id="helpId" class="form-text text-muted">Poids  du navir</small>
            </div>
            <button type="submit" class="btn btn-primary w-100">Créer un navir</button>
            
        </form>
      </div>
       
    </div>
  </div>
</div>


